%% % @format
{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
  {"(linux|darwin|solaris)", compile, "make -C c_src"},
  {"(freebsd)", compile, "gmake -C c_src"},
  {"(win32)", compile, "cd c_src && nmake /F Makefile.win"}
]}.
{post_hooks, [
  {"(linux|darwin|solaris)", clean, "make -C c_src clean distclean"},
  {"(freebsd)", clean, "gmake -C c_src clean distclean"},
  {"(win32)", compile, "cd c_src && nmake /F Makefile.win clean distclean"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [murmurhash3_x86_32_ref]}
]}.
